
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title> Software</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="~/Content/better-clean/css/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" href="~/Content/better-clean/css/style.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="~/Content/better-clean/css/responsive.css">
    <!-- fevicon -->
    <link rel="icon" href="~/Content/better-clean/images/fevicon.png" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="~/Content/better-clean/css/jquery.mCustomScrollbar.min.css">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
<!-- body -->
<body class="main-layout">
    <!-- loader  -->
    <div class="loader_bg">
        <div class="loader"><img src="~/Content/better-clean/images/loading.gif" alt="#" /></div>
    </div>
    <!-- end loader -->
    <!-- header -->
    <header>
        <!-- header inner -->
        <div class="head">
            <div class="container">
                <div class="row ">
                    <div class="col-md-6">
                        <ul class="email_call">
                            <li><a href="#"><img src="~/Content/better-clean/icon/2.png" alt="#" />+905412608296</a></li>
                            <li><a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox"><img src="~/Content/better-clean/icon/1.png" alt="#" />omerkargin1999@gmail.com</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="social_icon">
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-top">
            <div class="header">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                            <div class="full">
                                <div class="center-desk">
                                    <div class="logo">
                                        <a href="index.html"><img src="~/Content/better-clean/images/logo1.png" alt="#" width="80px;" height="90px;" /></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                            <div class="menu-area">
                                <div class="limit-box">
                                    <nav class="main-menu">
                                        <ul class="menu-area-main" style="margin-right:665px;">
                                            <li class="active"> <a href="index.html">Home</a> </li>
                                            <li> <a href="#service" >Service</a> </li>
                                            <li> <a href="#clean" >Better Clean</a> </li>
                                            <li> <a href="#ourwork">Our Work</a> </li>
                                            <li> <a href="#review" >Review</a> </li>
                                            <li> <a href="#request">Contact us</a> </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end header inner -->
            <!-- end header -->
            <section class="slider_section">
                <div id="myCarousel" class="carousel slide banner_main" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                        <li data-target="#myCarousel" data-slide-to="3"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="container">
                                <div class="carousel-caption">
                                    <div class="row ">
                                        <div class="col-md-7">
                                            <div class="text-bg">
                                                <span>Better YOUR</span>
                                                <h1> WORLD AS TECHNOLOGY </h1><br /><br /><br />
                                                <p>In the service we will provide, we provide the ability to process less effort and fast by using the newest and latest technologies.</p>
                                                <a href="#">Contact Us</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="container">
                                <div class="carousel-caption">
                                    <div class="row">
                                        <div class="col-md-7">
                                            <div class="text-bg">
                                                <span>WE ARE BEST</span>
                                                <h1> WORLD AS  SOFTWARE </h1><br /><br /><br />
                                                <p>We are trying to keep our software equivalent to the high-level standards of the world and even exceed it.</p>
                                                <a href="#">Contact Us</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="container">
                                <div class="carousel-caption">
                                    <div class="row">
                                        <div class="col-md-7">
                                            <div class="text-bg">
                                                <span>Better YOUR</span>
                                                <h1> WORLD AS <br />CLEAN </h1><br /><br /><br />
                                                 <p>We present our projects to the user in a clean way and users can use them comfortably from 7 to 70 years old.</p>
                                                <a href="#">Contact Us</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="container">
                                <div class="carousel-caption">
                                    <div class="row">
                                        <div class="col-md-7">
                                            <div class="text-bg">
                                                <span>Better YOUR</span>
                                                <h1> WORLD AS <br />BEST </h1><br /><br /><br />
                                                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum  </p>
                                                <a href="#">Contact Us</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </section>
        </div>
    </header>
    <!-- three box -->
    <div id="service" class="back_box">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 padd_rile">
                    <div class="three_box">
                        <span>01</span>
                        <h3>wİNDOWS FORM</h3>
                        <p>All kinds of applications that will be useful for your desktop applications in the style you want are made with care </p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 padding_l">
                    <div class="three_box yellow">
                        <span class="yellow">02</span>
                        <h3>WEB/ASP.NET/MVC</h3>
                        <p>The best ERP, E-commerce and all web applications are made for the web side.</p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 padd_ri">
                    <div class="three_box">
                        <span>03</span>
                        <h3>ANDROİD/UNITY</h3>
                        <p>Games etc. all kinds of programs are made with the best service quality and Unity on Android Platform for mobile</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end three box -->
    <!-- wellcome  -->
    <div id="clean" class="wellcome">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>WELCOME TO Better SOFTWARE</h2>
                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of Contrary to</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                    <div class="wellcome-box">
                        <figure><img src="~/Content/better-clean/images/resim4.jpg" alt="#" /></figure>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                    <div class="wellcome-box">
                        <figure><img src="~/Content/better-clean/images/resimuc.png" alt="#" /></figure>
                    </div>
                </div>
                <div class="col-md-12">
                    <a class="read_more" href="#">Read More</a>
                </div>
            </div>
        </div>
    </div>
    <!-- end wellcome -->
    <!-- ourwork -->
    <div id="ourwork" class="ourwork">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>OUR WORK PROCESS</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="main_slider1" class="carousel slide banner-main3" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="container">
                                    <div class="carousel-caption">
                                        <div class="row d_flex">
                                            <div class="col-md-3">
                                                <div class="our">
                                                    <figure><img src="~/Content/better-clean/images/yzlm.jpg" alt="#" /></figure>
                                                    <p>We do our projects with ASP.NET/MVC .NET Frma../Core using Microsoft SQL database over Entity Framework over C# </p>
                                                </div>
                                            </div>
                                            <div class="col-md-5">
                                                <div class="our">
                                                    <figure><img src="~/Content/better-clean/images/resimiki.png" alt="#" /></figure>
                                                    <p>Windows,MAC,Linux we make it to run on operating systems </p>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="our">
                                                    <figure><img src="~/Content/better-clean/images/yazılımcı.png" alt="#" /></figure>
                                                    <p> MSSQL=>C#(ADO.NET orEnity Frame.)=>Windows Form or =>ASP.NET Frame/Core or MVC => finish</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="container">
                                    <div class="carousel-caption">
                                        <div class="row d_flex">
                                            <div class="col-md-3">
                                                <div class="our">
                                                    <figure><img src="~/Content/better-clean/images/yzlm.jpg" alt="#" /></figure>
                                                    <p>We do our projects with ASP.NET/MVC .NET Frma../Core using Microsoft SQL database over Entity Framework over C#  </p>
                                                </div>
                                            </div>
                                            <div class="col-md-5">
                                                <div class="our">
                                                    <figure><img src="~/Content/better-clean/images/resimiki.png" alt="#" /></figure>
                                                    <p>Windows,MAC,Linux we make it to run on operating systems </p>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="our">
                                                    <figure><img src="~/Content/better-clean/images/yazılımcı.png" alt="#" /></figure>
                                                    <p> MSSQL=>C#(ADO.NET orEnity Frame.)=>Windows Form or =>ASP.NET Frame/Core or MVC => finish</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="container">
                                    <div class="carousel-caption">
                                        <div class="row d_flex">
                                            <div class="col-md-3">
                                                <div class="our">
                                                    <figure><img src="~/Content/better-clean/images/yzlm.jpg" alt="#" /></figure>
                                                    <p>We do our projects with ASP.NET/MVC .NET Frma../Core using Microsoft SQL database over Entity Framework over C#</p>
                                                </div>
                                            </div>
                                            <div class="col-md-5">
                                                <div class="our">
                                                    <figure><img src="~/Content/better-clean/images/resimiki.png" alt="#" /></figure>
                                                    <p>Windows,MAC,Linux we make it to run on operating systems</p>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="our">
                                                    <figure><img src="~/Content/better-clean/images/yazılımcı.png" alt="#" /></figure>
                                                    <p> MSSQL=>C#(ADO.NET orEnity Frame.)=>Windows Form or =>ASP.NET Frame/Core or MVC => finish</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#main_slider1" role="button" data-slide="prev"> <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                        <a class="carousel-control-next" href="#main_slider1" role="button" data-slide="next"> <i class="fa fa-long-arrow-left" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end ourwork -->
    <!-- Better -->
    <div class="Better">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="Better_clean">
                        <figure><img src="~/Content/better-clean/images/resim5.png" alt="#" /></figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end Better -->
    <!-- review -->
    <div id="review" class="review">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>customer review</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="main_slider" class="carousel slide banner-main2" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="container">
                                    <div class="carousel-caption">
                                        <img src="~/Content/better-clean/images/image10.jpeg.png" alt="#" />
                                        <i><img src="~/Content/better-clean/images/2.png" alt="#" /></i>
                                        <span>Omer Kargin</span>
                                        <p>
                                            Hello there !!  I am Ömer Karğın, 21 years old. I have completed 10 months and 240 hours of "software expertise" training from an institution affiliated to the Ministry of Education and learned it through C # language. OOP, SQL, MICROSOFT SQL SERVER ,OOP,ADO.NET,ASP.NET,HTML5,MVC,  KALI LINUX , ETICHAL HACKING,"Sql with Applications",SQL in All Aspects",HTML,,CSS,JAVASCRIPT(jQuery,Ajax,Nodejs) and "Cyberbullying","Internet Security", "Cryptology Fundamentals",Responsible use of the Internet  " I got the certificates . I want to work in your company as a staff member .  I am concentrating all my energy on work. I would appreciate it if you would consider this request. Have a nice day
                                            contact e-mail= omerkargin1999@gmail.com
                                            Tel =+90541-260-82-96
                                        </p>
                                        <a href="#">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="container">
                                    <div class="carousel-caption">
                                        <img src="~/Content/better-clean/images/image10.jpeg.png" alt="#" />
                                        <i><img src="~/Content/better-clean/images/2.png" alt="#" /></i>
                                        <span>Omer Kargin</span>
                                        <p>My Skills:<br /> C#=>(Entity Framework ,Ado.NET,.NET)<br />Microsoft SQL Server<br /> HTML Web desing<br /> CSS=>(Boostrap)<br /> JavaScript=> (Node JS ,Jquery, Ajax)<br />C#=>(ASP.NET Framework /Core MVC)<br /></p>
                                        <a href="#">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="container">
                                    <div class="carousel-caption">
                                        <img src="~/Content/better-clean/images/image10.jpeg.png" alt="#" />
                                        <i><img src="~/Content/better-clean/images/2.png" alt="#" /></i>
                                        <span>Omer Kargin</span>
                                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sureThere are many variations of passages of Lorem Ipsum available, but the majorityhave suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure</p>
                                        <a href="#">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev"> <i class='fa fa-angle-left'></i></a>
                        <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next"> <i class='fa fa-angle-right'></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end review -->
    <!-- contact -->
    <div id="request" class="contact">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 padding-left1">
                    <div class="contact">
                        <div class="titlepage">
                            <h2>Request a call back</h2>
                        </div>
                        <form class="request">
                            <div class="row">
                                <div class="col-sm-12">
                                    <input class="contactus" placeholder="Name" type="text" name="Name">
                                </div>
                                <div class="col-sm-12">
                                    <input class="contactus" placeholder="Phone Number" type="text" name="Phone Number">
                                </div>
                                <div class="col-sm-12">
                                    <input class="contactus" placeholder="Email" type="text" name="Email">
                                </div>
                                <div class="col-sm-12">
                                    <textarea class="textarea" placeholder="Message" type="text" name="Message"></textarea>
                                </div>
                                <div class="col-sm-12">
                                    <button class="send"><a href="mailto:omerkargin1999@gmail.com" >Send</a></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 padding-right1">
                    <div id="map">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end contact -->
    <!--  footer -->
    <footer>
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="follow">
                            <h3>Follow Us</h3>
                            <ul>
                                <li><a href="https://www.facebook.com/omer.kargin.98/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></i></a></li>
                                <li><a href="https://www.linkedin.com/in/omer-karg%C4%B1n-7616291b3/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></i></a></li>
                                <li><a href="https://github.com/OmerKargin"><i class="fa fa-github" aria-hidden="true"></i></a></li></ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <p>Created by Omer Kargin Thank you for visit</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </footer>
    <!-- end footer -->
    <!-- Javascript files-->
    <script src="~/Content/better-clean/js/jquery.min.js"></script>
    <script src="~/Content/better-clean/js/popper.min.js"></script>
    <script src="~/Content/better-clean/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/better-clean/js/jquery-3.0.0.min.js"></script>
    <script src="~/Content/better-clean/js/plugin.js"></script>
    <!-- sidebar -->
    <script src="~/Content/better-clean/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/Content/better-clean/js/custom.js"></script>
    <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
    <script>
         // This example adds a marker to indicate the position of Bondi Beach in Sydney,
         // Australia.
         function initMap() {
             var map = new google.maps.Map(document.getElementById('map'), {
                 zoom: 11,
                 center: {
                     lat: 40.645037,
                     lng: -73.880224
                 },
             });

             var image = 'images/maps-and-flags.png';
             var beachMarker = new google.maps.Marker({
                 position: {
                     lat: 40.645037,
                     lng: -73.880224
                 },
                 map: map,
                 icon: image
             });
         }
    </script>
    <!-- google map js -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8eaHt9Dh5H57Zh0xVTqxVdBFCvFMqFjQ&callback=initMap"></script>
    <!-- end google map js -->
</body>
</html>

